body {color:#000000;background:#ffffff} form {margin:0px;padding:0px} 
.leftHead 
{font-size:11px;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;color:#ffffff;text-align:center} 
.leftContent,.leftContent a 
{font-size:10px;font-family:Verdana,Arial,Helvetica,sans-serif;color:#003399;background-color:#ffffff} 
.leftDrop 
{font-size:10px;font-family:Verdana,Arial,Helvetica,sans-serif;color:#003399;line-height:14px;width:125px} 
.leftInput 
{font-size:10px;font-family:Verdana,Arial,Helvetica,sans-serif;color:#003399;line-height:14px;width:125px;border:1px 
solid #003399} .leftSubmit 
{font-size:10px;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;color:#ffffff;background-color:#003399;border:1px 
solid #003399;} .leftFunctions 
{font-size:10px;font-family:Verdana,Arial,Helvetica,sans-serif;} .leftFunctions 
a:link,.leftFunctions a:hover,.leftFunctions a:active,.leftFunctions a:visited 
{text-decoration:none;color:#000000;background-color:#eeeeee;} .copyright 
{font-size:9px;font-family:Verdana,Arial,Helvetica,sans-serif;} p.bodyText,ul,li 
{font-size:11px;font-family:Verdana,sans-serif;line-height:16px} h1 
{font-size:22px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#003399;} 
h2 
{font-size:18px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#003399;} 
h3 
{font-size:16px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#003399;} 
h4 
{font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#003399;} 
h5 
{font-size:11px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#003399;} 
h6 
{font-size:10px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#003399;} 
a:link,a:visited {text-decoration:underline;color:#0000cc;background:#ffffff} 
a:hover,a:active {text-decoration:underline;color:#ffffff;background:#0000cc} 
legend 
{font-size:12px;font-family:Verdana,sans-serif;font-weight:bold;color:#003399;} 
td.tabs 
{background:#333333;color:#ffffff;font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;} 
td.tabs a:link,td.tabs a:hover,td.tabs a:visited, td.tabs a:active 
{background:#333333;color:#ffffff;text-decoration:none;} hr.laBreak 
{color:#000000} div.laSideBar 
{font-size:11px;font-family:Verdana,sans-serif;color:#000000} .na 
{color:#999999} .resultNumber { font-size:14px; 
font-family:Arial,Helvetica,sans-serif; font-weight:bold; color:#ffffff; 
background-color:#003399; } .resultFieldName { font-size:11px; 
font-family:Verdana,sans-serif; font-weight:bold; } .resultFieldData { 
font-size:11px; font-family:Verdana,sans-serif; } .displayOptions { 
font-size:11px; font-family:Verdana,Arial,Helvetica,sans-serif; border:1px 
#ffffff solid; color:#ffffff; } .displayOptions a,.displayOptions 
a:hover,.displayOptions a:visited,.displayOptions a:active { color:#ffffff; 
background-color:#33cc33; } .displayOptionsSelected { color:#33cc33; 
background-color:#ffffff; } .queryInfoNav { font-size:11px; 
font-family:Verdana,Arial,Helvetica,sans-serif; color:#ffffff; 
background-color:#33cc00; } .queryInfoNav a,.queryInfoNav a:hover,.queryInfoNav 
a:visited,.queryInfoNav a:active { color:#ffffff; background-color:#33cc00; } 
.formLegend { font-size:12px; font-family:Verdana,Arial,Helvetica,sans-serif; 
font-weight:bold; color:#CC6600; } input.formSubmit { font-size:12px; 
font-family:Arial,Helvetica,sans-serif; font-weight:bold; color:#ffffff; 
background-color:#003399; } input.formReset { font-size:12px; 
font-family:Arial,Helvetica,sans-serif; font-weight:bold; color:#003399; 
background-color:#ffffff; } .formLabel { font-size:11px; 
font-family:Verdana,sans-serif; } .formTextInput { font-size:12px; 
font-family:Verdana,sans-serif; } fieldset { border-color: #000066; 
border-style: solid; border-width: 1px; } .recordDataField { 
font-size:11px;font-family:Verdana,sans-serif; background-color:#efefef; } 
.recordData { font-size:11px;font-family:Verdana,sans-serif; } .recordDataItal { 
font-size:11px;font-family:Verdana,sans-serif;font-style:italic; } 
.recordDataGroup { 
font-size:13px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#003399; 
border-bottom:1px solid #003399; } 
